{% extends "base.html" %}
{% block content %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
<form  method="POST" action="prikazi/" id="pretraga">
    {% csrf_token %}
<h3>Recite nam, šta Vas tačno muči?</h3>
<div class="unos">
    <select name="meni" class="custom-select">
      <option value="rak">maligno oboljenje</option>
      <option value="bolovi">bolovi</option>
      <option value="prehlada">prehlada</option>
      <option value="stres">stres i nesanica</option>
      <option value="nedostatak vitamina">nedostatak vitamina</option>
      <option value="dijabetes">dijabetes</option>
        <option value="upala">upala</option>
    </select>
    <input type="submit" class="btn btn-primary" value="Pomozite mi">
</div>
</form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}


