{% extends "base.html" %}

{% block content %}
<h1>Mi vam predlažemo ovo...</h1>
<div class="container">
    <div class="row">
        {% for lijek in lijekovi %}
        <form method="post" action="{{lijek.slug}}/">
        {% csrf_token %}
        <div class="card">
                    <div class="card-header" id="naziv">{{lijek.naziv}}</div>
                    {% if lijek.slika %}
                    <img src="{{lijek.slika.url}}" />
                    {% endif %}
                    {% if lijek.recept %}
                    <p id="recept">Recept:DA</p>
                    {% else %}
                    <p>Recept:NE</p>
                    {% endif %}
                    <p id="cijena">Cijena: {{lijek.cijena}}KM</p>
                    <form method="post" action="opis/{{lijek.slug}}/">
                        <input type="button" class="btn btn-primary btn-md my-0 p" value="Saznaj više" onclick="location.href='{% url 'opis' lijek.slug %}'">
                    </form>
                    <form method="post" action="{{lijek.slug}}/">
                    {% csrf_token %}
                        <a  class="btn btn-info btn-lg" href="{% url 'card' lijek.slug %}">
                          <span class="glyphicon glyphicon-shopping-cart"></span> Dodaj u korpicu
                        </a>
                    </form>
                    {% for snizeni_lijek in snizeni_lijekovi %}
                    {% if snizeni_lijek.lijek.id is lijek.id %}
                    <div id="popust">Popust: {{snizeni_lijek.iznos}}% </div>
                    {% endif %}
                    {% endfor %}
                </div> </form>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock scripts %}
